include layout

mixin contenidoTarea(tarea)
    .task-options.ocultar
        form(action=`/delete` method="POST")
            input(type="button" value="Eliminar" class="btnDelete" data-id=`${tarea.id}`)
    .btnAbrirOptions 
        img(src="/img/more_options.svg" id="btnAbrirOptions")
    .task-principal
        if tarea.status == 'resuelta'
            .div-check
                input(type="checkbox" class="checkTask" data-id=`${tarea.id}` checked disabled)
                img.relojProcess(src="/img/completed_process.svg")
        else if tarea.status == 'sin resolver'
            .div-check
                input(type="checkbox" class="checkTask" data-id=`${tarea.id}`)
                img.relojProcess(src="/img/not_process.svg" data-id=`${tarea.id}`)
        else if tarea.status == 'resolviendo'
            .div-check
                input(type="checkbox" class="checkTask" data-id=`${tarea.id}`)
                img.relojProcess(src="/img/in_process.svg" data-id=`${tarea.id}`)

        p.task-tile= tarea.title
        p.task-priority= tarea.priority2
        p.task-dateExpired= tarea.expiration_date2
        img.button-abrirDescription(src="/img/arrow_down.svg")
    .task-secondary.ocultar
        p.description= tarea.description
        .task-secondary-final 
            p.task-creacion= tarea.creation_date2
            p.task-estado= tarea.date_of_resolution

mixin verificarTareaResuelta(tarea)
    if tarea.status == "resuelta"
        section.task.resuelta 
            +contenidoTarea(tarea)
    else
        section.task 
            +contenidoTarea(tarea)

header.header 
    h1 To-Do 

//-Menu lateral
button.panel-btn.hamburger.hamburger--arrow(type="button")
      span.hamburger-box
        span.hamburger-inner

aside.panel 
    nav.menu
        a Cocina 
        a Pieza
        a Escuela

//-Inicio
main.principal
    button.btnBlue.btn-add Add task
    each tarea in tasks
        +verificarTareaResuelta(tarea)      

.container-addTask.ocultar
    div.addTask
        form
            input(type="text", name="titulo" placeholder="Agregar titulo" id="title" required)
            label(for="fechaLimite") Fecha limite  
            input(type="date", name="fechaLimite" id="fecha_limite")
            label(for="priority") Priority
            input.rango(type="range", name="" min="1" max="3" id="prioridad")
            textarea(name="description", cols="30", rows="10" placeholder="Agregar descripcion" id="descripcion" required)
            .botones-add-task
                button.btnBlue.saveTask Agregar
                button.btnRed.cancelTask Cancelar


template(id="template-task")
    section.task
        .task-options.ocultar
            form(action=`/delete` method="POST")
                input(type="button" value="Eliminar" class="btnDelete")
        .btnAbrirOptions 
            img(src="/img/more_options.svg" id="btnAbrirOptions")
        .task-principal 
            .div-check
                input(type="checkbox" class="checkTask")
                img.relojProcess(src="/img/not_process.svg")
            p.task-tile
            p.task-priority
            p.task-dateExpired
            img.button-abrirDescription(src="/img/arrow_down.svg")
        .task-secondary.ocultar
            p.description
            .task-secondary-final 
                p.task-creacion
                p.task-estado


